@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

main{
    width: 100%;
    overflow: hidden;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}
body::-webkit-scrollbar{
    width: 5px;
}
body::-webkit-scrollbar-track{
    width: 5px;
    background-color: transparent;
}
body::-webkit-scrollbar-thumb{
    width: 5px;
    background: #FFC800;
    border-radius: 10px;
}

header{
    width: 100%;
    position: relative;
    nav{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffffab;
        padding: 2.5rem 4.5rem;
        div{
            width: 18rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 35px;
            h1{
                font-family: 'Staatliches';
                font-weight: 400;
                font-size: 2.4rem;
                letter-spacing: 0.01em;
                color: #2B454E;
                transform: translateY(5px);
            }
        }
        ul{
            width: 18.2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 35px;
            li{
                padding: 1rem 2rem;
                border-radius: 0.6rem;
                a{
                    font-family: 'Inter';
                    font-weight: 500;
                    font-size: 1.4rem;
                }
            }
            li:nth-child(1){
                background-color: #DCDCDC;
                a{
                    color: #2B454E;
                }
            }
            li:nth-child(2){
                background-color: #2B454E;
                a{
                    color: #ffffff;
                }
            }
        }
    }
    section{
        width: 100%;
        height: 100vh;
        display: flex;
        #left{
            max-width: 40%;
            min-width: 75rem;
            height: 100vh;
            padding: 0rem 0rem 0rem 9.2rem;
            display: grid;
            place-items: center;
            div{
                h1{
                    font-family: 'Inter';
                    font-weight: 800;
                    font-size: 6.8rem;
                    font-feature-settings: 'salt' on, 'liga' off;
                    color: #375A64;
                    padding-bottom: 1.6rem;
                    span{
                        color:#FFC800;
                    }
                }
                p{
                    width: 54rem;
                    font-family: 'Inter';
                    font-weight: 400;
                    font-size: 1.8rem;
                    font-feature-settings: 'salt' on, 'liga' off;
                    color: #18191F;
                    padding-bottom: 3.2rem;
                }
                button{
                    padding: 1.2rem 3.2rem;
                    background: #2B454E;
                    border-radius: 6px;
                    border: none;
                    color: white;
                    font-family: 'Inter';
                    font-weight: 500;
                    font-size: 1.6rem;
                    cursor: pointer;
                }
            }
        }
        #right{
            width: 70%;
            height: 100vh;
            overflow: hidden;
            position: relative;
            .hero-image{
                height: auto;
                width: 130%;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -2;
            }
        }
    }
}

.numbers{
    width: 100%;
    padding: 7.1rem 15rem 27.5rem 15rem;
    background-color: #1A2E35;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    div{
        padding-bottom: 4rem;
        h3{
            width: 100%;
            text-align: center;
            font-family: 'Inter';
            font-weight: 500;
            font-size: 4.8rem;
            color: #FFC800;
        }
        p{
            width: 100%;
            text-align: center;
            font-family: 'Inter';
            font-weight: 500;
            font-size: 2rem;
            color: #FFC800;
        }
    }
}
.whyUs{
    width: 100%;
    display: grid;
    place-items: center;
    .whyus-con{
        padding: 7rem 10rem 14.5rem 10rem;
        background: #FFFFFF;
        box-shadow: 1.67594px 6.79641px 68px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        transform: translateY(-167px);
        h1{
            width: 100%;
            text-align: center;
            font-family: 'Inter';
            font-weight: 800;
            font-size: 4rem;
            color: #375A64;
            padding-bottom: 8rem;
            span{
                color: #FFC800;
            }
        }
        p{
            width: 65rem;
            text-align: center;
            font-family: 'Inter';
            font-weight: 500;
            font-size: 1.8rem;
            color: #9E9E9E;
            position: relative;
        }
        p:before{
            content: "";
            width: 70.69px;
            height: 60px;
            background: url(../assests/comma.svg) center center no-repeat;
            background-size: contain;
            position: absolute;
            top: -40px;
            left: -36px;
            z-index: -1;
        }
    }
}

.points{
    width: 100%;
    padding: 0px 14rem 18rem 14rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    .left{
        width: 45%;
        background: url(../assests/mobile.svg) center center no-repeat;
        background-size: contain;
    }
    .right{
        width: 45%;
        position: relative;
        h1{
            font-family: 'DM Sans';
            font-weight: 700;
            font-size: 7rem;
            color: #1A2E35;
            padding-bottom: 2rem;
            span{
                color: #FFC800;
            }
        }
        p{
            font-family: 'DM Sans';
            font-weight: 500;
            font-size: 1.8rem;
            color: #5B5D63;
            padding-bottom: 2rem;
        }
        ul{
            list-style: disc!important;
            li{
                font-family: 'DM Sans';
                font-weight: 500;
                font-size: 1.8rem;
                padding-bottom: 1.5rem;
                display: flex;
                align-items: center;
                img{
                    margin-right: 1rem;
                    width: 2.4rem;
                    height: 2.4rem;
                }
            }
        }
    }
    .right::before{
        content: "";
        width: 8.5rem;
        height: 52rem;
        background: url(../assests/arrow.svg) center center no-repeat;
        background-size: contain;
        position: absolute;
        top: 0;
        left: -13.6rem;
    }
}

.points::before{
    content: "";
    transform: rotate(-15deg);
    width: 10rem;
    height: 17rem;
    position: absolute;
    top: -143px;
    left: -13px;
    background: url(../assests/location.svg) center center no-repeat;
    background-size: contain;
}
.points::after{
    content: "";
    overflow: hidden;
    transform: rotate(15deg);
    width: 10rem;
    height: 17rem;
    position: absolute;
    bottom: 0px;
    right: -13px;
    background: url(../assests/location.svg) center center no-repeat;
    background-size: contain;
}

.features{
    width: 100%;
    padding: 8rem 10rem;
    position: relative;
    h1{
        width: 100%;
        text-align: center;
        font-family: 'Inter';
        font-weight: 800;
        font-size: 4.8rem;
        padding-bottom: 4rem;
        color: #18191F;
    }
    #feature-cards{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 20rem;
        div{
            width: 300px;
            padding: 2rem;
            text-align: center;
            h2{
                font-family: 'Inter';
                font-weight: 600;
                font-size: 2.4rem;
                color: #18191F;
                padding-bottom: 1rem;
            }
            p{
                font-family: 'Inter';
                font-weight: 400;
                font-size: 1.6rem;
                color: #18191F;
            }
        }
    }
}

.features::after{
    content: "";
    width: 30rem;
    height: 30rem;
    background: url(../assests/design1.svg) center center no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 40px;
    left: -18rem;
    z-index: -1;

}

.features::before{
    content: "";
    width: 30rem;
    height: 30rem;
    background: url(../assests/design2.svg) center center no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: -8rem;
    z-index: -1;

}

#footer-image{
    width: 100%;
    height: 25rem;
    background: url(../assests/footer.svg) left bottom no-repeat;
    background-size: contain;
}
footer{
    padding: 2rem;
    width: 100%;
    display: grid;
    place-items: center;
    color: white;
    background-color: #1A2E35;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    color: #D9DBE1;

}

.signup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 100vh;
    background: rgba(0, 0, 0, 0.25);
    display: none;
    place-items: center;
    form{
        width: 50rem;
        background-color: white;
        box-shadow: 9.39709px 25.3119px 63px rgba(0, 0, 0, 0.01);
        border-radius: 2rem;
        padding: 3.9rem 5.8rem;
        h3{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 3rem;
            line-height: 39px;
            text-align: center;
            font-feature-settings: 'salt' on, 'liga' off;
            padding-bottom: 5rem;
        }
        p{
            position: relative;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 1.8rem;
            letter-spacing: -0.02em;
            color: #000000;
        }
        input[type=text],input[type=password],input[type=submit]{
            width: 100%;
            margin-bottom: 4rem;
            padding: 1rem 1rem 1rem 5rem;
            outline: none;
            border: 2px solid #E2E2E2;
            border-radius: 8px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 110%;
            letter-spacing: -0.02em;
            color: #A0A0A0;

        }
        input[type=submit]{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 1.8rem;
            letter-spacing: -0.02em;
            padding: 1.2rem 0rem;
            color: #FFFFFF;
            cursor: pointer;

        }
        input[type=checkbox]{
            border: 2px solid #E2E2E2;
            margin-right: .9rem;
        }
        #email::before{
            content: "";
            position: absolute;
            top: 2.7rem;
            left: .7rem;
            width: 3rem;
            height: 3rem;
            background: url('../assests/mail.svg') center center no-repeat;
            background-size: contain;
            z-index: 100;
        }
        #password::before{
            content: "";
            position: absolute;
            top: 2.7rem;
            left: .7rem;
            width: 3rem;
            height: 3rem;
            background: url('../assests/password.svg') center center no-repeat;
            background-size: contain;
            z-index: 100;
        }
    }
}

.login{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 100vh;
    background: rgba(0, 0, 0, 0.25);
    display: none;
    place-items: center;
    form{
        width: 50rem;
        background-color: white;
        box-shadow: 9.39709px 25.3119px 63px rgba(0, 0, 0, 0.01);
        border-radius: 2rem;
        padding: 3.9rem 5.8rem;
        h3{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 3rem;
            line-height: 39px;
            text-align: center;
            font-feature-settings: 'salt' on, 'liga' off;
            padding-bottom: 5rem;
        }
        p{
            position: relative;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 1.8rem;
            letter-spacing: -0.02em;
            color: #000000;
        }
        input[type=text],input[type=password],input[type=submit]{
            width: 100%;
            margin-bottom: 4rem;
            padding: 1rem 1rem 1rem 5rem;
            outline: none;
            border: 2px solid #E2E2E2;
            border-radius: 8px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 110%;
            letter-spacing: -0.02em;
            color: #A0A0A0;

        }
        input[type=submit]{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 1.8rem;
            letter-spacing: -0.02em;
            padding: 1.2rem 0rem;
            color: #FFFFFF;
            cursor: pointer;

        }
        input[type=checkbox]{
            border: 2px solid #E2E2E2;
            margin-right: .9rem;
        }
        #email::before{
            content: "";
            position: absolute;
            top: 2.7rem;
            left: .7rem;
            width: 3rem;
            height: 3rem;
            background: url('../assests/mail.svg') center center no-repeat;
            background-size: contain;
            z-index: 100;
        }
        #password::before{
            content: "";
            position: absolute;
            top: 2.7rem;
            left: .7rem;
            width: 3rem;
            height: 3rem;
            background: url('../assests/password.svg') center center no-repeat;
            background-size: contain;
            z-index: 100;
        }
    }
}

@media (max-width:1200px){
    html{
        font-size: 50%;
    }
    header{
        nav{
            div{
                width: 22rem;
            }
        }
        section{
            #left{
                max-width: 30%;
                min-width: 60rem;
            }
            #right{
                #hero-image{

                }
            }
        }
    }
    #feature-cards{
        justify-content: space-evenly!important;
    }
        
}
@media (max-width:998px){
    html{
        font-size: 40%;
    }
}
@media (max-width:768px){
    html{
        font-size: 35%;
    }
    header{
        nav{
            div{
                width: 25rem;
            }
        }
    }
    .whyus-con{
        transform: translateY(-120px)!important;
    }
    .points{
        padding: 0px 8rem 18rem 8rem;
    }
}

@media (max-width:594px){
    header {
        nav{
            div{
                padding-left: 0;
                width: 18rem;
            }
        }
        section{
            flex-direction: column!important;
            height: 800px;
            #left,#right{
                width: 100%;
            }
            #left{
                padding: 0rem 0rem 0rem 4rem;
                div{
                    h1{
                        font-size: 6rem;
                    }
                }
            }
        }

    }
    .whyUs .whyus-con p{
        width: 35rem;
    }
    .points{
        flex-direction: column;
        padding: 0px 5rem 18rem 5rem;
        .left{
            width: 100%;
            height: 400px;
            margin-bottom: 4rem;
        }
        .right{
            width: 100%;
        }
    }
    .points::before{
        top: -68px;
    }
    #feature-cards{
        padding-bottom: 2rem!important;
    }

}